/*
 * Center the document modal
 
 */
.modal {
	width: 100%;
	left: 0;
	background-color: transparent; }

.modal-body {
	display: inline-block;
	background-color: #FFF; }

.modal img { min-width: none!important; }

/*
	Color of the glyphicons
*/
.red{color:#ff0000}
.green{color:#00ff00}
