script( src="js/lib/pdf/pdf.js" )
script( src="js/lib/pdf/tooltip.js" )
script( src="js/lib/pdf/textlayerbuilder.js"  )
script( src="js/lib/pdf/pdfcanvas.js")

div( class="collectionlist_buttons" )
	
