//Ajax.js will retrive the files for this documentlist

script( src="js/lib/twitter-dev/bootstrap-tooltip.js")
script( src="js/lib/twitter-dev/bootstrap-popover.js")

//Display the files in the document files if they exist
div( class="documentlist_buttons")
	p Documents:
//POPOVER DOESNT WORK???
script( type="text/javascript").
	$('#example').popover({container: 'body'})



	
