//Ajax.js will retrive the files for this documentlist
- var files = {}

script( src="js/lib/twitter-dev/bootstrap-tooltip.js")
script( src="js/lib/twitter-dev/bootstrap-popover.js")

<!-- Display the files in the document files if they exist -->
div( class="documentlist_buttons")
	if files.documents
		each item in files.documents
			div( class="btn-group btn-group-xs")
				button( id=item.name class="btn btn-default btn-xs" type="button")
					#{item.name}
				button( id="example" type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Add to collection for analysis!")
					span( class="glyphicon glyphicon-plus green")
				button( type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Remove the file")
					span( class="glyphicon glyphicon-minus red")
			br
			br
	else
		p Upload and add some files into your collection!

//<!--POPOVER DOESNT WORK???-->
script( type="text/javascript").
	$('#example').popover({container: 'body'})


<!-- Code to respond to file button clicks
script( type="text/javascript").

	$(function() {
		$(".documentlist_buttons  button").click( function()
		{
			var filename = this.id;
			alert("click!"+filename);
			socket.emit("pdfinfo", {filename:filename});
		}
		);
	});
	
	//Requesting data from server once things are loaded such as files
	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/api/document/list"
		})
		.done(function (msg) {
			//List the files under Documents
			console.log(msg)
			//files[] is declared in documentlist.jade, which displays the files based on this list. 
			files = msg
		});
	});
